body {
    background-image: url("images/mountains.jpg");
    height: 100%;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h2 {
    color: white;
}
h1 {
    font-family: 'roboto' 'Great Vibes', cursive;
    font-size: 50px;
    color: white;
}
h4 {
    color: pink;
    text-align: right;
    font-size: 25px;
}
p {
    font-size: 30px;
    position: absolute; 
    bottom: 0;
    text-decoration: underline;
}
a:link {
    color: red;
}
a:visited {
    color: cyan;
}
a:hover {
    color: hotpink;
}
